<div class="span3">
      <div class="bs-sidebar hidden-print affix" role="complementary">

        <ul class="nav bs-sidenav">
          <li>
            <a href="#"><span class="icon icon-wrench"></span> <strong>Infrastruture</strong></a>
            <ul class="nav">
              <li>
                <a href="{% url 'dashboard' %}">
                  <span class='icon-info-sign'></span> Dashboard
                </a>
              </li>
              <li>
                <a href="{% url 'machines' %}">
                  <span class='icon-list'></span> Machines
                </a>
              </li>
              <li>
                <a href="{% url 'hosts' %}">
                  <span class='icon-globe'></span> Hosts
                </a>
              </li>
              <li>
                <a href="{% url 'pools' %}">
                  <span class='icon-hdd'></span> Pools
                </a>
              </li>
            </ul>

            <a href="#"><span class="icon icon-wrench"></span> <strong>Admin</strong></a>
            <ul class="nav">
              <li>
                <a href="#">
                  <span class='icon-user'></span> Users
                </a>
              </li>
              <li>
                <a href="#">
                  <span class='icon-align-right'></span> Roles
                </a>
              </li>
              <li>
                <a href="#">
                  <span class='icon-globe'></span> Permissions
                </a>
              </li>
            </ul>

          </li>
        </ul>
      </div>
    </div>
